以下練習的目的是如何從資料集中摘取出想要的資料料，使用的 pandas 指令包括 `[ ]`, .loc, .iloc, .at, 及 .iat

學習案例中的資料取自 uci 的 winequality-red.csv。有關資料集的詳細資訊可以到 [uci](https://archive-beta.ics.uci.edu/ml/datasets/wine+quality) 網站獲得。下載資料檔案後可放入 ./data/... 資料目錄中以便待用。

In [2]:
import pandas as pd #導入 pandas 模組
wine_df = pd.read_csv("data/winequality-red.csv", sep=";") #讀取winequality-red.csv

In [3]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### 選擇單一欄位

In [4]:
wine_df['fixed acidity'].head() #df["欄位名稱"]

0     7.4
1     7.8
2     7.8
3    11.2
4     7.4
Name: fixed acidity, dtype: float64

In [7]:
wine_df.chlorides.head() #df.欄位名稱

0    0.076
1    0.098
2    0.092
3    0.075
4    0.076
Name: chlorides, dtype: float64

### 選取多欄資料

In [9]:
wine_four = wine_df[["fixed acidity", "volatile acidity", "citric acid", "residual sugar"]] #選取多欄資料

In [10]:
wine_four.head()

   fixed acidity  volatile acidity  citric acid  residual sugar
0            7.4              0.70         0.00             1.9
1            7.8              0.88         0.00             2.6
2            7.8              0.76         0.04             2.3
3           11.2              0.28         0.56             1.9
4            7.4              0.70         0.00             1.9

In [11]:
cols = ["fixed acidity", "volatile acidity", "citric acid", "residual sugar"] #先定義一個多欄名稱的list
wine_list_four = wine_df[cols] #利用list選取多欄資料
wine_list_four.head()

   fixed acidity  volatile acidity  citric acid  residual sugar
0            7.4              0.70         0.00             1.9
1            7.8              0.88         0.00             2.6
2            7.8              0.76         0.04             2.3
3           11.2              0.28         0.56             1.9
4            7.4              0.70         0.00             1.9

### 根據資料的型別選取資料

In [13]:
wine_df.select_dtypes(include=['float']).head() #利用 select_dtypes()函數選擇資料型別為float的資料

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [15]:
wine_df.dtypes.count()

12

In [17]:
wine_df.filter(like='acid').head() #利用 fliter() 中的 like 參數指定欄位名稱中特定字串的資料

   fixed acidity  volatile acidity  citric acid
0            7.4              0.70         0.00
1            7.8              0.88         0.00
2            7.8              0.76         0.04
3           11.2              0.28         0.56
4            7.4              0.70         0.00

In [18]:
wine_df.rename(columns={"pH":"pH_5", 'quality':'quality_6'}, inplace=True) #改變欄位名稱
wine_df.filter(regex='\d').head() # filter() 函數？？？

   pH_5  quality_6
0  3.51          5
1  3.20          5
2  3.26          5
3  3.16          6
4  3.51          5

changing the order of columns

In [19]:
wine_df.columns #欄位名稱

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH_5', 'sulphates', 'alcohol', 'quality_6'],
      dtype='object')

In [20]:
group1 = ['pH_5', 'sulphates', 'alcohol', 'quality_6']
group2 = ['chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density']
group3 = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar']

In [21]:
new_cols = group1 + group2 + group3

In [23]:
set(wine_df.columns) == set(new_cols)

True

In [24]:
wine_df_2 = wine_df[new_cols]
wine_df_2.head()

,pH_5,sulphates,alcohol,quality_6,chlorides,free sulfur dioxide,total sulfur dioxide,density,fixed acidity,volatile acidity,citric acid,residual sugar
0,3.51,0.56,9.4,5,0.076,11.0,34.0,0.9978,7.4,0.70,0.00,1.9
1,3.20,0.68,9.8,5,0.098,25.0,67.0,0.9968,7.8,0.88,0.00,2.6
2,3.26,0.65,9.8,5,0.092,15.0,54.0,0.9970,7.8,0.76,0.04,2.3
3,3.16,0.58,9.8,6,0.075,17.0,60.0,0.9980,11.2,0.28,0.56,1.9
4,3.51,0.56,9.4,5,0.076,11.0,34.0,0.9978,7.4,0.70,0.00,1.9

選擇列

In [25]:
wine_df.shape #資料匡維度（列長度，行長度）

(1599, 12)

In [27]:
wine_df = wine_df.drop_duplicates(subset='density') #將欄位 density 資料中重複值消除

In [28]:
wine_df.shape

(436, 12)

### 找出特定列的資料

In [29]:
wine_df.set_index('density', inplace=True) #設定資料集的列索引

In [30]:
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9978,7.4,0.70,0.00,1.9,0.076,11.0,34.0,3.51,0.56,9.4,5
0.9968,7.8,0.88,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9970,7.8,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,5
0.9980,11.2,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,6
0.9964,7.9,0.60,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5

#### 根據列編號

In [31]:
wine_df.iloc[2]

fixed acidity            7.800
volatile acidity         0.760
citric acid              0.040
residual sugar           2.300
chlorides                0.092
free sulfur dioxide     15.000
total sulfur dioxide    54.000
pH_5                     3.260
sulphates                0.650
alcohol                  9.800
quality_6                5.000
Name: 0.997, dtype: float64

#### 根據列索引值

In [32]:
wine_df.loc[0.9968]

fixed acidity            7.800
volatile acidity         0.880
citric acid              0.000
residual sugar           2.600
chlorides                0.098
free sulfur dioxide     25.000
total sulfur dioxide    67.000
pH_5                     3.200
sulphates                0.680
alcohol                  9.800
quality_6                5.000
Name: 0.9968, dtype: float64

#### 根據多個列編號或索引值來選取資料

In [33]:
wine_df.iloc[[1, 4, 7]]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9968,7.8,0.880,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9964,7.9,0.600,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5
0.9943,5.6,0.615,0.00,1.6,0.089,16.0,59.0,3.58,0.52,9.9,5

In [34]:
rows = [0.9968, 0.9964, 0.9943]
wine_df.loc[rows]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9968,7.8,0.880,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9964,7.9,0.600,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5
0.9943,5.6,0.615,0.00,1.6,0.089,16.0,59.0,3.58,0.52,9.9,5

In [35]:
wine_df.iloc[1:4]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9968,7.8,0.88,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9970,7.8,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,5
0.9980,11.2,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,6

In [63]:
first = 0.9970
last = 0.9980
wine_df.loc[first:last]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.997,7.8,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,5
0.998,11.2,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,6

選擇列，行

In [37]:
wine_df.iloc[:, [3, 4, 6]].head()

         residual sugar  chlorides  total sulfur dioxide
density
0.9978              1.9      0.076                  34.0
0.9968              2.6      0.098                  67.0
0.9970              2.3      0.092                  54.0
0.9980              1.9      0.075                  60.0
0.9964              1.6      0.069                  59.0

In [38]:
wine_df.loc[:, ['residual sugar', 'chlorides', 'total sulfur dioxide']].head()

         residual sugar  chlorides  total sulfur dioxide
density
0.9978              1.9      0.076                  34.0
0.9968              2.6      0.098                  67.0
0.9970              2.3      0.092                  54.0
0.9980              1.9      0.075                  60.0
0.9964              1.6      0.069                  59.0

In [39]:
wine_df.iloc[[10, 14],[7,9]]

         pH_5  alcohol
density
0.9969   3.30     10.5
0.9962   3.28      9.5

In [40]:
wine_df.loc[[0.9969, 0.9962],['pH_5','alcohol']]

         pH_5  alcohol
density
0.9969   3.30     10.5
0.9962   3.28      9.5

In [41]:
wine_df.loc[0.9970, 'chlorides']

0.092

In [42]:
wine_df.iloc[2, 4]

0.092

In [43]:
wine_df.iloc[8:2:-2, 2]

density
0.9974    0.29
0.9959    0.08
0.9964    0.06
Name: citric acid, dtype: float64

In [44]:
first = 0.9974
last = 0.9964
wine_df.loc[first:last:-2, 'citric acid']

density
0.9974    0.29
0.9959    0.08
0.9964    0.06
Name: citric acid, dtype: float64

In [45]:
wine_df.iloc[:5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9978,7.4,0.70,0.00,1.9,0.076,11.0,34.0,3.51,0.56,9.4,5
0.9968,7.8,0.88,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9970,7.8,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,5
0.9980,11.2,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,6
0.9964,7.9,0.60,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5

In [46]:
wine_df.iloc[:5, :]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,pH_5,sulphates,alcohol,quality_6
density,,,,,,,,,,,
0.9978,7.4,0.70,0.00,1.9,0.076,11.0,34.0,3.51,0.56,9.4,5
0.9968,7.8,0.88,0.00,2.6,0.098,25.0,67.0,3.20,0.68,9.8,5
0.9970,7.8,0.76,0.04,2.3,0.092,15.0,54.0,3.26,0.65,9.8,5
0.9980,11.2,0.28,0.56,1.9,0.075,17.0,60.0,3.16,0.58,9.8,6
0.9964,7.9,0.60,0.06,1.6,0.069,15.0,59.0,3.30,0.46,9.4,5

In [51]:
col_start=wine_df.columns.get_loc('volatile acidity')
col_end = wine_df.columns.get_loc('volatile acidity')+2
col_start, col_end

(1, 3)

In [52]:
wine_df.iloc[:4, col_start:col_end]

         volatile acidity  citric acid
density
0.9978               0.70         0.00
0.9968               0.88         0.00
0.9970               0.76         0.04
0.9980               0.28         0.56

In [54]:
wine_df.index[7]

0.9943

In [55]:
wine_df.at[0.9980, 'citric acid']

0.56

In [56]:
timeit wine_df.loc[0.9980, 'citric acid']

3.63 µs ± 12.3 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [57]:
timeit wine_df.at[0.9980, 'citric acid']

1.84 µs ± 17.5 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [58]:
row_n = wine_df.index.get_loc(0.9980)
col_n = wine_df.columns.get_loc('citric acid')

In [60]:
timeit wine_df.iloc[row_n, col_n]

7.85 µs ± 69 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [61]:
timeit wine_df.iat[row_n, col_n]

5.92 µs ± 25.2 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)